.zone {
    height: 3em;
    align-items: center;
}

.header{
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0px 20px;
    font: white;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.pushRight{
    margin-left: auto;
}

.logo {
    width: 40px;
}